<a href="https://colab.research.google.com/github/ahmerrami/Django-eCommerce-Store/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
from google.colab import drive
drive.mount('/content/drive')
##
##

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

After running the cell above, you will be prompted to authorize Google Drive access. Once authorized, your Drive will be mounted at `/content/drive`. You can then access your files using their full path, for example, `/content/drive/My Drive/path/to/your/file.csv`.

In [13]:
# Example of loading a CSV file from Google Drive
import pandas as pd

# Replace '/path/to/your/file.csv' with the actual path to your file in Google Drive
# For example: '/content/drive/My Drive/YourFolder/your_file.csv'
try:
    df = pd.read_csv('/content/drive/My Drive/Test/used_cars.csv')
    print("File loaded successfully. Here are the first 5 rows:")
    display(df.head())
except FileNotFoundError:
    print("Error: The file was not found. Please ensure the path is correct and your Drive is mounted.")
except Exception as e:
    print(f"An error occurred: {e}")

File loaded successfully. Here are the first 5 rows:

        brand     model  year  mileage transmission fuel_type   price
0     HYUNDAI       I10  2016   139999       Manual  Gasoline   75000
1  VOLKSWAGEN     Jetta  2015   299999    Automatic    Diesel  130000
2       SKODA     Karoq  2020   159999    Automatic    Diesel  250000
3     HYUNDAI  Santa fe  2012   189999    Automatic    Diesel  125000
4  VOLKSWAGEN     Jetta  2017   249999    Automatic    Diesel  150000